﻿@model PassionProject.Models.WorkOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Work Order</h2>

<form method="POST" action="/WorkOrder/Create">
    <div class="inprow">
        <label class="inplabel">Work Order Name</label>
        <input id="WorkOrderName_New" name="WorkOrderName_New" />
    </div>
    <div class="inprow">
        <label class="inplabel">Customer Name</label>
        <input id="WorkOrderCustomerName_New" name="WorkOrderCustomerName_New" />
    </div>
    <div class="inprow">
        <label class="inplabel">Price</label>
        $<input id="WorkOrderPrice_New" name="WorkOrderPrice_New"  />
    </div>
    <div class="inprow">
        <label class="inplabel">Work Order Start Date</label>
        <input type="date" class="datecontrol" id="WorkOrderStartDate_New" name="WorkOrderStartDate_New" />
    </div>
    <div class="inprow">
        <label class="inplabel">Expected Work Order Finish Date</label>
        <input type="date" class="datecontrol" id="WorkOrderFinishDate_New" name="WorkOrderFinishDate_New" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
