﻿@model PassionProject.Models.WorkOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="inprow">
    <label class="inplabel">Work Order Name: </label>@Model.WorkOrderName
</div>
<div class="inprow">
    <label class="inplabel">Customer Name: </label>@Model.WorkOrderCustomerName
</div>
<div class="inprow">
    <label class="inplabel">Price: $</label>@Model.WorkOrderPrice
</div>
@* reffered https://stackoverflow.com/questions/6001654/how-to-render-a-datetime-in-a-specific-format-in-asp-net-mvc-3
    for date format in model answered by Nick Larsen*@

<div class="inprow">
    <label class="inplabel">Start Date: </label>@Html.DisplayFor(m => m.StartDate, "ShortDateTime")
</div>
<div class="inprow">
    <label class="inplabel">Finish Date: </label>@Html.DisplayFor(m => m.FinishDate, "ShortDateTime")
</div>
<h4>Laptops under this work order</h4>
<div class="inprow">
    @*@foreach (var laptop in Model.Laptops)
        {
            <div class="recitem">
                @Html.ActionLink(laptop.LaptopModel, "Details/" + laptop.LaptopID, "Laptop")
            </div>
        }*@

    <table class="table">
        <tr>
            <th>
                Laptop Model
            </th>
            <th>
                Laptop Problem
            </th>
        </tr>

        @foreach (var laptop in Model.Laptops)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => laptop.LaptopModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => laptop.LaptopProblem)
                </td>
            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
