﻿@model PassionProject.ViewModels.WorkOrderViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form method="POST" action="/WorkOrder/Edit/@Model.workOrder.WorkOrderID">
    <div class="inprow">
        <label class="inplabel">Work Order Name</label>
        <input id="WorkOrderName_Edit" name="WorkOrderName_Edit" value="@Model.workOrder.WorkOrderName" />
    </div>
    <div class="inprow">
        <label class="inplabel">Customer Name</label>
        <input id="WorkOrderCustomerName_Edit" name="WorkOrderCustomerName_Edit" value="@Model.workOrder.WorkOrderCustomerName" />
    </div>
    <div class="inprow">
        <label class="inplabel">Price</label>
        $<input id="WorkOrderPrice_Edit" name="WorkOrderPrice_Edit" value="@Model.workOrder.WorkOrderPrice" />
    </div>
    <div class="inprow">
        <label class="inplabel">Work Order Start Date</label>
        <input type="date" class="datecontrol" id="WorkOrderStartDate_Edit" name="WorkOrderStartDate_Edit" value="@Model.workOrder.StartDate" />
        @*<input type="date" class="datecontrol" id="WorkOrderStartDate_Edit" name="WorkOrderStartDate_Edit" value="@Html.DisplayFor(m => m.workOrder.StartDate, "LongDateTime")" />*@
        @*@Html.TextBoxFor(Model => Model.workOrder.StartDate, new { type = "date" })*@
    </div>
    <div class="inprow">
        <label class="inplabel">Expected Work Order Finish Date</label>
        <input type="date" class="datecontrol" id="WorkOrderFinishDate_Edit" name="WorkOrderFinishDate_Edit"  value="@Model.workOrder.FinishDate"/>
        
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
