﻿@model IEnumerable<PassionProject.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderCustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderCustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.WorkOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.WorkOrderID })
        </td>
    </tr>
}

</table>
