﻿@model PassionProject.ViewModels.LaptopRepairViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>



<form method="POST" action="/Laptop/Create">
    <div class="inprow">
        <label class="inplabel">Manufacturer</label>
        <input id="LaptopManufacturer_New" name="LaptopManufacturer_New" />
    </div>
    <div class="inprow">
        <label class="inplabel">Model</label>
        <input id="LaptopModel_New" name="LaptopModel_New" />
    </div>
    <div class="inprow">
        <label class="inplabel">Problem</label>
        <input id="LaptopProblem_New" name="LaptopProblem_New" />
    </div>
    <div class="inprow">
        <label class="inplabel">Work Order</label>
        <select id="LaptopWorkOrder_New" class="LaptopWorkorderDropdown" name="LaptopWorkOrder_New">
            @foreach (var workOrder in Model.workOrders)
            {
                <option value="@workOrder.WorkOrderID">@workOrder.WorkOrderName</option>
            }

        </select>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
