﻿@model PassionProject.Models.Laptops

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="inprow">
    <label class="inplabel">Manufacturer: </label>@Model.LaptopManufacturer
</div>
<div class="inprow">
    <label class="inplabel">Model: </label>@Model.LaptopModel
</div>
<div class="inprow">
    <label class="inplabel">Problem: </label>@Model.LaptopProblem
</div>
<div class="inprow">
    <label class="inplabel">Work Order: </label>@Model.Workorder.WorkOrderName
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LaptopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
