﻿+-@model PassionProject.ViewModels.LaptopRepairViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form method="POST" action="/Laptop/Edit/@Model.Laptops.LaptopID">
    <div class="inprow">
        <label class="inplabel">Manufacturer</label>
        <input id="LaptopManufacturer_Edit" name="LaptopManufacturer_Edit" value="@Model.Laptops.LaptopManufacturer" />
    </div>
    <div class="inprow">
        <label class="inplabel">Model</label>
        <input id="LaptopModel_Edit" name="LaptopModel_Edit" value="@Model.Laptops.LaptopModel" />
    </div>
    <div class="inprow">
        <label class="inplabel">Problem</label>
        <input id="LaptopProblem_Edit" name="LaptopProblem_Edit" value="@Model.Laptops.LaptopProblem" />
    </div>
    <div class="inprow">
        <label class="inplabel">Work Order</label>
        <select id="LaptopWorkOrder_Edit" class="LaptopWorkorderDropdown" name="LaptopWorkOrder_Edit">
            @foreach (var workOrder in Model.workOrders)
            {
                string current = "";
                if (workOrder.WorkOrderID == Model.Laptops.Workorder.WorkOrderID)
                {
                    current = "selected";
                }

                <option value="@workOrder.WorkOrderID" @current>@workOrder.WorkOrderName</option>
            }

        </select>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
