﻿@model IEnumerable<PassionProject.Models.Laptops>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LaptopManufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaptopModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaptopProblem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workorder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LaptopManufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaptopModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaptopProblem)
        </td>
        <td>
            @Html.ActionLink(item.Workorder.WorkOrderName, "Details/" + item.Workorder.WorkOrderID, "WorkOrder")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LaptopID }) |
            @Html.ActionLink("Details", "Details", new { id = item.LaptopID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LaptopID })
        </td>
    </tr>
}

</table>
